# ===================================================================
# PRESEED PERSONALIZADO BLUE3
# Instalação automatizada Debian com LVM + XFS/BTRFS
# Debian Version: Trixie (12+1)
# Author: Samir Hanna Verza
# Date: 12/04/2026
# Version: 2.01
# ===================================================================



# ====================== COMPORTAMENTO DO INSTALADOR ======================
# Pular menus do debian-installer o máximo possível
d-i auto-install/enabled boolean true
d-i debconf/priority string critical
d-i preseed/interactive boolean false

# Forçar modo gráfico do instalador (melhor compatibilidade com VMs)
d-i debian-installer/framebuffer boolean false        # força texto
#d-i debian-installer/framebuffer boolean true        # força gráfico

# Desabilitar speech synthesis completamente
d-i debian-installer/speech boolean false
d-i speakup/synth string none

# Permitir repositórios sem autenticação (útil em mirror interno)
d-i debian-installer/allow_unauthenticated boolean true



# ====================== DESABILITAR SPEECH ======================
d-i debian-installer/speech boolean false
d-i speakup/synth string none
d-i debian-installer/disable-speech boolean true



# ====================== LOCALIZAÇÃO E IDIOMA ======================
d-i debian-installer/locale string pt_BR.UTF-8
d-i debian-installer/language string pt
d-i debian-installer/country string BR

d-i localechooser/shortlist boolean true
d-i localechooser/country select BR
d-i localechooser/preferred-locale string pt_BR.UTF-8



# ====================== TECLADO ======================
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/variantcode string
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/toggle select No toggling



# ====================== REDE ======================
d-i netcfg/enable boolean false
d-i netcfg/choose_interface select none
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/link_wait_timeout string 1
d-i netcfg/dhcp_timeout string 1
d-i netcfg/no_default_route boolean true

# IPv4 desabilitado
d-i netcfg/confirm_static boolean true

### STATIC NETWORK
### IPv4
### Ajuste e descomente para fixar um ip provisório de acordo com sua rede local, útil para acesso remoto via SSH durante a instalação e configuração inicial.
#d-i netcfg/get_ipaddress string 100.64.66.88
#d-i netcfg/get_netmask string 255.255.255.0
#d-i netcfg/get_gateway string 100.64.66.1
#d-i netcfg/get_nameservers string 170.233.231.231 170.233.231.232
#d-i netcfg/confirm_static boolean true

# IPv6 desabilitado
d-i netcfg/disable_ipv6 boolean true

# Hostname e domínio
# Ajuste o hostname e domínio de acordo com sua rede local.
d-i netcfg/get_hostname string blue3
d-i netcfg/get_domain string b3.local



# ====================== MIRROR ======================
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string mirror.blue3.com.br
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stable
d-i apt-setup/use_mirror boolean false



# ====================== CONTAS DE USUÁRIO ======================
# Usuário Root
d-i passwd/make-user boolean false
# Senha default blue3
d-i passwd/root-password-crypted password $6$pWGeDYzkoCYgCLhc$MVhUM/6e2siQl2BaYb4NtrVrH10a09oi8Fd9ANoxWt7VyzMmHMRrCxwmChXljiaIVVH72GMyyhgNlC3Yx.an2.

# Usuário samir (com sudo)
d-i passwd/user-fullname string Samir Hanna Verza
d-i passwd/username string samir
# Senha default blue3
d-i passwd/user-password-crypted password $6$pWGeDYzkoCYgCLhc$MVhUM/6e2siQl2BaYb4NtrVrH10a09oi8Fd9ANoxWt7VyzMmHMRrCxwmChXljiaIVVH72GMyyhgNlC3Yx.an2.
d-i passwd/user-uid string 1000
d-i user-setup/allow-password-weak boolean true



# ====================== HORÁRIO ======================
d-i clock-setup/ntp boolean false
d-i time/zone string America/Sao_Paulo
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string ntp.blue3.com.br



# ====================== PARTICIONAMENTO (LVM + XFS/BTRFS) ======================
d-i partman-auto/disk string /dev/sda

# Limpeza de LVM/MD antigos
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# Método LVM
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string vg0

# Receita de particionamento customizada
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto/expert_recipe string \
      boot-root :: \
              538 1075 1075 free \
                    $primary{ } $iflabel{ gpt } method{ efi } format{ } \
              . \
              512 1024 1024 ext4 \
                    $primary{ } method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /boot } \
              . \
              1024 2048 4096 linux-swap \
                    $lvmok{ } lv_name{ swap } method{ swap } format{ } \
              . \
              5120 6144 8192 -1 xfs \
                    $lvmok{ } lv_name{ root } method{ format } format{ } use_filesystem{ } filesystem{ xfs } mountpoint{ / } \
              . \
              4096 6144 8192 btrfs \
                    $lvmok{ } lv_name{ var } method{ format } format{ } use_filesystem{ } filesystem{ btrfs } mountpoint{ /var } \
              . \
              6144 10240 12288 btrfs \
                    $lvmok{ } lv_name{ log } method{ format } format{ } use_filesystem{ } filesystem{ btrfs } mountpoint{ /var/log } \
              . \
              1024 2048 4096 btrfs \
                    $lvmok{ } lv_name{ tmp } method{ format } format{ } use_filesystem{ } filesystem{ btrfs } mountpoint{ /tmp } \
              .

# Confirmações automáticas
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true



# ====================== PACOTES ======================
tasksel tasksel/first multiselect standard

# Pacotes extras que você costuma usar
# Evite o incremento neste ponto, muitos pacotes podem ser instalados posteriormente via script de pós-configuração ou manualmente via apt e acesso a internet.
d-i pkgsel/include string sudo vim openssh-server zstd xfsprogs btrfs-progs

d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false



# ====================== GRUB ======================
d-i grub-installer/bootdev string default
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false



# ====================== LATE COMMAND (configuração final) ======================
d-i preseed/late_command string \
    mkdir -p /target/etc/update-motd.d /target/etc/ssh/sshd_config.d /target/root /target/home/samir; \
    \
    cp -a /cdrom/blue3/20-blue3 /target/etc/update-motd.d/ || true; \
    cp -a /cdrom/blue3/10-uname /target/etc/update-motd.d/ || true; \
    cp -a /cdrom/blue3/issue.net /target/etc/ || true; \
    cp -a /cdrom/blue3/sources.list /target/etc/apt/sources.list || true; \
    cp -a /cdrom/blue3/interfaces /target/etc/network/interfaces || true; \
    cp -a /cdrom/blue3/issue /target/etc/ || true; \
    cp -a /cdrom/blue3/motd /target/etc/ || true; \
    cp -a /cdrom/blue3/bashrc /target/root/.bashrc; \
    cp -a /cdrom/blue3/bashrc /target/home/samir/.bashrc; \
    \
    cp -a /cdrom/blue3/ssh/sshd_config /target/etc/ssh/; \
    cp -a /cdrom/blue3/ssh/*.conf /target/etc/ssh/sshd_config.d/ || true; \
    \
    in-target chown -R samir:samir /home/samir; \
    in-target chmod 600 /target/etc/ssh/sshd_config; \
    in-target chmod +x /etc/update-motd.d/* || true; \
    in-target systemctl enable ssh || true;



# ====================== FINALIZACAO ======================
d-i finish-install/reboot_in_progress note